/* src/components/RaceHeader.css */
body{
  background-color:#111;
}
.race-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
    padding: 16px 24px;
    font-family: sans-serif;
    flex-wrap: wrap;
    border-bottom: 1px solid #333;
  }
  
  .race-info {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
  }
  
  .grand-prix {
    font-weight: bold;
  }
  
  .status {
    background-color: green;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
    color: white;
  }
  
  .time {
    font-size: 18px;
    margin-left: 12px;
  }
  
  .weather-info {
    display: flex;
    gap: 16px;
    font-size: 14px;
  }
  
  .track-status {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .laps {
    font-weight: bold;
    font-size: 22px;
    margin-right:20px
  }

  /* From Uiverse.io by adamgiebl */ 
  .status-tag{
  --green: #1BFD9C;
  font-size: 15px;
  padding: 0.7em 1.2em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.status-tag:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.status-tag:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.status-tag:hover:before {
  transform: translateX(15em);
}

.driver{
  
}

/* .circuit-svg svg {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.circuit-svg path {
  stroke: #ff0000;
  stroke-width: 2;
} */